<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Tales_about_grasshopper</title>
    <style>
        body {
            background-color: #e0ffe0;
            color: #00cc7a;
        }
        .about {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .col{
            border-radius: 10%;
            border: #00cc7a 1px solid;
            margin: 10px;
            /*padding-left: 15px;*/
        }
        img {
            width: 100%;
            height: 100%;
            padding: 5%;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
<header th:insert="sections/header_tales::header_tales"></header>
<div class="container">
    <h2>Пригоди Кузі-стрибунця та мурахи Матвія</h2>
    <div class="about">
        <div class="col">
            <img src="/images/grasshopper1.jpg">
        </div>
        <div class="col">
            <img src="/images/grasshopper2.jpg">
        </div>
        <div class="col">
            <img src="/images/grasshopper3.jpg">
        </div>
        <div class="col">
            <img src="/images/grasshopper4.jpg">
        </div>
    </div>

    <h3>Частина 1. Знайомство</h3>
    <p>На зеленій галявині, де цвіли яскравими квітами кульбабки, під старим пеньком розташувалася маленька хатка. Замість дверей у неї був міцний листочок подорожника. Тому, коли на дворі йшов дощ, у хатці було тепло та затишно.<br>
        А ось – і господарі! Знайомтеся, це – сім’я Коників-стрибунців. Мабуть, ви часто могли чути їхні прекрасні мелодії, які тихо лунають при гарній погоді щовечора. Або ж бачили, як Коники уміють високо підстрибувати серед трави, долаючи перешкоди.<br>
        Тато Коник вранці ходив на роботу. Він працює тренером у спортивній школі для комах. Навчає стрибкам у довжину та висоту. Мама – вчителька музики. Вона розповідає музичну грамоту та вчить грати на скрипці.<br>
        Коник-стрибунець на ім’я Кузя був ще маленький, адже він народився тільки навесні. Тому для нього це літо було надзвичайно цікавою порою, адже він дізнавався скільки всього нового та цікавого!<br>
    </p>
    <p>Переглянути казку можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=PQcD5g-BzNs&t=4s" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=PQcD5g-BzNs&t=4s</a></p>

    <h3>Частина 2. Мураха Матвій</h3>
    <p>
        Ранок був сонячним. Квіти розкрили свої пелюстки та наповнювали повітря запашними ароматами.<br>
        Коник-стрибунець на ім’я Кузя вийшов надвір, потягнувся і задумався, чим би йому зайнятися. Батьки пішли на роботу, тому Кузя буде сьогодні порядкувати один.<br>
        Спочатку він вирішив позамітати біля хатки, адже вчора був вітрюган, який наніс чимало листочків та сухої трави.<br>
        Коник взяв віника і почав наводити порядки. Аж раптом він почув голос, що лунав з-за кущика кульбабок.<br>
        -	Привіт! Як тебе звати? – запитав незнайомець. У нього була коричнева голівка та чорні вусики. В руках він тримав аж дві великі сумки, до верху чимось наповнені...<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=CpxEfEHHd68" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=CpxEfEHHd68</a></p>

    <h3>Частина 3. Похід по суницю</h3>
    <p>Небо сьогодні було вкрите густими хмарами, тому зранку було дещо прохолодно. Щоб не змерзнути, Коник-стрибунець на ім’я Кузя надягнув теплу кофтину.<br>
        Ще з вечора він та його друг, мураха Матвій, домовилися піти на сусідню галявину – назбирати ягід суниці.<br>
        Мама сказала, що варення із ягід – це найкращий засіб від усіх простуд, та й просто – дуже смачно. Тому взявши у лапки корзинку, Кузя вийшов виглядати мурашку. Аж ось і Матвій підійшов. Він теж був тепленько одягнений та тримав невелике синє відеречко.<br>
        -	Привіт! Ох і холоднеча посеред літа! – привітався Кузя.<br>
        -	Радий тебе бачити, - усміхнувся Матвій. – Поки йшов швиденько, аж нагрівся. Ходімо, тобі теж стане тепліше.<br>
        Друзі швидко покрокували в сторону старої сосни, що росла на сусідній галявині.<br>
        Суниця щедро вродила цього року – галявина, дійсно, була всипана ягодами.<br>
        Коник-стрибунець та Мурашка спочатку досхочу наїлися запашних смачнючих ягід, а потім почали наповнювати корзинку та відерце.<br>
        Раптом в небі загримотіло, стало темно-темно...<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=sFj_rtIfZZE" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=sFj_rtIfZZE</a></p>

    <h3>Частина 4. Похід на річку</h3>
    <p>Після дощових днів літо нарешті повністю вступило в свої права. Сонечко добряче припікало, земля була гарно прогріта, а повітря стало надзвичайно спекотним.<br>
        Щоб якось врятуватися від неймовірної спеки двоє друзів – Кузя, Коник-стрибунець, та Матвій, мурашка, який приїхав погостювати до рідні на літо, вирішили піти до річки купатися. Весь вечір вони готувалися до походу: знайшли туристичні килимки, парасольку від сонця. Наповнили пляшки водою, зробили бутерброди.<br>
        Зранку, нарядившись в картузики та сонячні окуляри, Кузя та Матвій були повністю зібрані. Йти до річки було довгенько – потрібно подолати шлях через три галявини та невелику просіку.<br>
        Щоб хлопчики правильно знайшли дорогу, тато Коник-стрибунець дав їм компас і сказав йти прямо на Південь.<br>
        -	А ти раніше користувався компасом? – запитав Матвій у друга.<br>
        -	Не користувався. Але ми з татом добре тренувалися, - відповів Кузя. – До того ж тут лише одна добре втоптана стежка. Треба лише йти прямо, нікуди не звертаючи, та поглядати на стрілку. Бачиш, ось вона.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=V4rd-tCatjU" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=V4rd-tCatjU</a></p>

    <h3>Частина 5. Кораблик</h3>
    <p>Вночі знову йшов сильний дощ – краплини дзвінко вистукували по даху маленького зеленого будиночку, де жила сім’я Коників-стрибунців. Помірний стукіт краплин заколихував, тому спалося добре.<br>
        Вранці, коли Кузя, Коник-стрибунець, вийшов на подвір’я, хмари вже розійшлися, а Сонечко дарувало ласкаві теплі промінчики. Сонячні зайчики весело стрибали по калюжам, яких розлилося ціле море.<br>
        Доріжку, яка вела від хатки до дороги, теж залило водою. Кузя був вправним спортсменом, тому умів гарно стрибати на довгу дистанцію. Але він знав, що скоро до нього прийде Матвій, друг-мураха, який стрибати не вмів. Тому варто було щось придумати.<br>
        -	Агов, Кузю, привіт! – Ось і Матвій, мурашка, з'явився. Він намагався не вступити у воду і, тому був змушений робити дивні маневри, обходячи калюжі. – Не можу далі йти, що робити? – гукнув здалеку.<br>
        -	Привіт, друже! – відізвався Коник-стрибунець. – Зараз спробуємо зробити місток.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=DL537jtBm8M" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=DL537jtBm8M</a></p>

    <h3>Частина 6. Поселення мурашок</h3>
    <p>Сьогодні був гарний літній день. Зранку Кузя, Коник-стрибунець допомагав татові й мамі по господарству. Носив відерцем воду – поливав розсаду капусти – дні стояли спекотні, тому листячко капусти трохи зів’яло, потрібно було терміново її зволожувати. Потім позамітав у дворі листочки. Попідв’язував пагони молодих огірків.<br>
        Після обіду у Кузі була гарна звичка – перед сном читати цікаву книжку. От і цього разу він із захопленням читав історії про котика та кицю. Найбільше Конику-стрибунцю сподобалася розповідь про те, як кошенята гралися у хованки. Тому занурюючись в обідній сон, Кузя подумав, що добре було б пограти в цю гру зі своїм другом – мурашкою Матвієм.<br>
        Ввечері Кузя пішов до великого мурашника, який розташувався неподалік. Дорослі мурахи завзято займалися справами, швидко пересуваючись по мурашнику. Одні комахи щось жваво тягнули в хатку, інші йшли навантажені продуктами – робили запаси на зиму, треті дзвінко гримотіли молоточками та пилками, добудовуючи нові кімнати.<br>
        -	Матвію! – гукнув Коник-стрибунець. – Виходь гуляти!<br>
        Зверху – з четвертого поверху мурашника із вікна виглянула знайома Кузі голівка із чорними вусиками – Матвій почув голос друга.<br>
        -	Привіт! – привітався мурашка. – Зачекай, я швиденько спущуся.<br>
        Не пройшли дві хвилини, як Матвій уже підбігав до Коника-стрибунця.<br>
        -	У вас тут так багато мурах, - Кузя із цікавістю роззирався навкруги.<br>
        -	Ходімо, проведу тобі екскурсію, - Матвій повів Коника за собою.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=DaMc3Er12bg" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=DaMc3Er12bg</a></p>

    <h3>Частина 7. Комашина творчість</h3>
    <p>Вранці на травинках з’явилися прозорі краплини роси. Тато Коник-стрибунець сказав, що це гарна прикмета:<br>
        -	День буде ясним та сонячним, дощу не вдасться поламати наші плани.<br>
        Для Кузі цей день мав стати цікавим та повним пригод, адже сьогодні він та його друг, мураха Матвій підуть із дорослими на виставку комашиної творчості.<br>
        Коник-стрибунець чув багато розповідей про виставки, які проходили в їхньому регіоні щороку. Матвій, який раненько прибіг до коника, теж був повен радісного очікування.<br>
        -	Ти уявляєш, там можна побачити всілякі дива: і п’ятиповерховий торт з горішками від кондитерів-бджілок, і механічні каруселі!<br>
        -	Ага, я теж про них чув! Та найбільше мене цікавлять макети кораблів від павука-сріблянки. – захоплено розповідав Кузя. – Пам’ятаєш, ми теж човника робили? Може, колись справжній корабель змайструємо…<br>

        На виставці було гамірно та весело. Завітало багато комах – всюди гомін, пісні лунають. Он – там, зліва, дітвора катається на каруселях. Он-де, у павільйонах, розташовані різні конструкції та механізми від винахідників. Деякі майстри, навіть, дозволяли спробувати використати винахід за призначенням: можна було політати на повітряній кулі (правда, не дуже високо), або покататися на диво-машині на трьох колесах.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=2V66IpR5WxI&t=11s" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=2V66IpR5WxI&t=11s</a></p>

    <h3>Частина 8. Гра у хованки</h3>
    <p>Ранок був теплим. Сонечко вийшло на небо дуже рано, тому земля та повітря  були добре прогріті. Кульбабки та ромашки, які росли навколо будиночку, де жила сім’я Коників-стрибунців, порозкривали квіти, а травинки, вмиті чистою росою, рясно зеленіли.<br>
        Коли Кузя, Коник-стрибунець, виспався та вийшов на ґанок, у нього з’явилася ідея. Зовсім недавно Кузя прочитав у книжечці про двох веселих кошенят, як ті гралися у хованки. Думка про гру виникла давно – Коник-стрибунець уже два дні хотів пограти зі своїм другом – Мурашкою Матвієм. Але якось не вдавалося – позавчора була екскурсія по мурашиному поселенню. Матвій показував, як жили мурахи. Кузя ще пам’ятає смак персикового морозива та цукерок, якими його пригощали дорослі мурашки. А вчора Кузя разом з другом Матвієм, татом, Коником-стрибунцем, та мамою ходили на виставку комашиної творчості.<br>
        -	Кузю, привіт! – Мураха Матвій підійшов до будиночку, де стояв замріяний Коник-стрибунець. – Про що думаєш?<br>
        -	Привіт, Матвію! – Кузя потиснув лапку Мурасі. – Хочеш, пограємо у хованки?<br>
        -	Звичайно! Чур, я ховаюся! – підстрибнув Матвій. – Закривай очі і рахуй до десяти!<br>
        Коник відвернувся до дерева і почав рахувати:<br>
        -	Один, два, три…. Десять! – обернувся і роззирнувся навкруги. – Іду шукати! Хто не заховався, я не винуватий!<br>
        Кузя по-тихеньку почав обходити навколо будиночку, заглядаючи під листки подорожника та лопуха. Друга Мурашки ніде не було. Через сім хвилин Конику-стрибунцю стало нудно, тому він гукнув:<br>
        -	Матвію, виходь! Визнаю, я програв! Де ти?<br>
        Але мурашка не озивався.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=zX-HYZGXC5E" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=zX-HYZGXC5E</a></p>

    <h3>Частина 9. Майстер-клас тітоньки Бджоли </h3>
    <p>Сонечко вже давно привітно зігрівало землю своїми лагідними промінчиками.<br>
        А наші знайомі друзі – Кузя, Коник-стрибунець та Матвій, мурашка із чорними вусиками, вирішували важливу задачу – чим цікавим сьогодні зайнятися.<br>
        Кузя запропонував сходити на сусідню галявину, де знаходилася пасіка. Недавно до родини Коників-стрибунців приходила в гості Бджола із донечками бджілками. Вони були такі кумедні – усі у жовто-чорну смужку. Кузя подружився із Бджілками – вони гралися в м’яча та по черзі – у шашки. Дівчатка-Бджілки розповідали смішні історії, які з ними траплялися під час уроків польоту. На прощання тітонька Бджола запросила Коника-стрибунця теж відвідати їхню домівку.<br>
        Матвій, друг Коника, погодився із Кузею, що прогулятися на пасіку буде гарною ідеєю.<br>
        Друзі весело попрямували в напрямі гаю, де росли старі дуби. Саме там – на галявині між дубами розташовувалися багаточисленні вулики, в яких проживали бджоли-трудівниці.<br>
        Підходячи до пасіки, друзі почули наростаючий гул. Зовсім скоро вони побачили, як сотні бджілок літають над галявиною та дивними хатинками круглої форми. Цікаво, що у будиночках були лише віконця, через які бджілки влітали та вилітали.<br>
        Раптом одна із маленьких бджілок побачила Коника-стрибунця, швиденько змінила напрям польоту і наблизилася до хлопчиків.<br>
        -	Привіт, Кузю! – привіталася Бджілка.<br>
        -	Привіт! Це – мій друг Матвій. Ми вирішили скористатися запрошення та прийшли до вас в гості.<br>
        -	Привіт ще раз! – Бджілка подала лапку мурасі. – Приємно познайомитися. Мене звати Міла. Як добре, що ви завітали!<br>
        -	У вас тук так шумно та гамірно, - коник та мураха зацікавлено роззиралися по сторонам.<br>
        Мураха звик, що у них у мурашнику теж живе дуже багато комах, але на відміну, від бджілок, вони працювали дуже тихо.<br>
        -	Так, у нас постійно так шумно, ми вже звикли, - сказала бджілка Міла. – Ходімо, зараз починається майстер-клас по виготовленню свічок.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=6k5qrjgRWf0&t=296s" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=6k5qrjgRWf0&t=296s</a></p>

    <h3>Частина 10. Малиновий дощ</h3>
    <p>Вранці Кузю, Коника-стрибунця, розбудив дзвінкий спів птахів. Сонечко ще не встигло розплющити очі та розправити свої промінчики. День тільки починався. А Коник-стрибунець уже прокинувся, думав, ще поспати, але заснути знову не зміг. Птахи на вулиці так голосно виспівували, що прогнали останні залишки сну.<br>
        Кузя, Коник-стрибунець ще трохи повалявся у ліжечку, смачно потягнувся та вирішив підійматися та одягатися.<br>
        Кузя пам’ятав, що сьогодні до нього в гості повинен прийти його друг – мурашка Матвій. Вони запланували сьогодні зробити будиночок на дереві. Тому потрібно було швиденько поснідати та піти пошукати на вулиці якісь матеріали для будівництва хатки.<br>
        - Кузю, привіт! – Коник ще доїдав кашу, як почув голос із вулиці – це прийшов Матвій.<br>
        - Привіт! – Коник-стрибунець вийшов на двір. – Ти теж сьогодні рано прокинувся.<br>
        - Так, хотів раніше до тебе прийти – не терпиться почати майструвати нашу хатку на дереві!<br>
        - Нумо, будемо шукати гілки та дошки для будівництва!<br><br>

        Кузя та його друг мураха почали обходити угіддя навколо хатки Коників-стрибунців, шукаючи потрібні для облаштування будиночка-халабуди матеріали.<br>
        Кузя попрямував до заростей малини, пагони якої гінко тягнулися до сонця та були усипані великими рожевими ягодами. Дзвінкий щебет птахів, від якого коник прокинувся сьогодні вранці, став ще голоснішим.<br>
        Не встиг Козу підійти до першої гілочки, як зверху пішов малиновий дощ. Так, так! Справжнісінький дощ із великих соковитих ягід. Ягоди падали одна за одною, щільно вкриваючи де-не-де прикриту листочками та травою землю.<br>
        -	Оце так чудасія! – здивувався Коник-стрибунець.<br>
        -	Матвію, йди швидко сюди, подивися, що твориться, - Кузя гукнув друга мурашку.<br>
        -	Чого ти, - підбіг мурашка. – Ого, нічого собі так малиновий дощ!<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=WSFfu4uub-k" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=WSFfu4uub-k</a></p>

    <h3>Частина 11. Хатка на дереві</h3>
    <p>Рано-вранці батьки Коника-стрибунця поїхали в гості до своїх друзів Світлячків. Світлячки жили далеченько – аж через шість галявин та три просіки. Тому Кузя, Коник-стрибунець, залишався сьогодні удома сам. Мама попросила Кузю довго не спати, щоб не пропустити сніданок, а також дещо зробити в будиночку та на подвір’ї.<br>
        Кузя прокинувся раненько, помив після сніданку посуд, застелив ліжечко.<br>
        Потім, як сказала мама, виніс доріжки на вулицю, почепив їх на воротях і почав вибивати пил. Коник-стрибунець старанно виконував домашню роботу, тому що знав, що незабаром повинен прийти його друг – мурашка Матвій. Вони планували цього дня нарешті втілити в життя свій план – змайструвати хатку на дереві.<br>
        Коник щосили стукав по доріжці, розвішеній на воротях, аж ось і Матвій прийшов:<br>
        -	Кузю, привіт! Давай допоможу тобі – удвох швидше справимося!<br>
        Коник привітався з Матвієм, дав йому ще одного віника. Хлопчики моторно повибивали усі килимки та доріжки, занесли їх до хати та застелили чисто вимиту підлогу.<br>
        -	О, які ми молодці – так гарно поприбирали! – задоволено оглянув кімнату Кузя, потім запропонував: – Давай трохи перекусимо та підемо гратися.<br>
        -	Так, ходімо, мені дуже подобається ваш чай з листками полуниці та вишні. – погодився мураха.<br><br>

        Цього разу друзі підійшли до будівництва хатки на дереві досить серйозно. Їхні тата розповіли, як правильно забивати гвіздки, робити драбинку, в’язати із мотузки міцні вузли. Також у коника-стрибунця та мурашки уже були заздалегідь підготовлені матеріали – дошки, вірьовки, навіс для даху.<br>

        Кузя та Матвій були працьовиті та старанні хлопці. Вони вже давно облюбували стару вербу, що росла неподалік від будиночку сім’ї коників-стрибунців. Гілля верби росло низько та було таким товстим та розлогим, що чудово підходило на роль основи під хатку на дереві. Саме сюди Мурашка та коник-стрибунець дружно та весело затягнули дошки, роблячи з них стіни, натягували вірьовки та навішували зверху спеціально покриття-навіс.<br>
        Через декілька годин наполегливої праці на одній із товстелезних гілок груші з’явилася хатка-халабуда. Коли Кузя, коник-стрибунець, та мурашка Матвій залізли до неї всередину, там виявилося так затишно, що друзі вирішили взяти із собою бутерброди і організувати тут обідній перекус.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=8oOHz6p07es" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=8oOHz6p07es</a></p>

    <h3>Частина 12. Підготовка до олімпіади</h3>
    <p>Вчора звечора тато Коник-стрибунець повідомив цікаву новину – через тиждень на Великій галявині будуть відбуватися спортивні змагання – Комашина олімпіада. Усі бажаючі можуть взяти участь. Змагання передбачалося проводити між різними віковими категоріями, а переможців планували нагородити подарунки.<br>
        Кузя, Коник-стрибунець, та його друг Мураха Матвій, дізнавшись про олімпіаду, вирішили теж обов’язково брати участь, адже їм дуже хотілося отримати винагороду. Тому з вечора вони домовилися зустрітися біля їхньої хатки на дереві та розробити детальний план – скласти розклад тренувань та розпочати серйозну підготовку до змагань.<br>
        Цього дня Коник-стрибунець прокинувся раненько, хоч і був вихідний день. Тато і мама сьогодні були вдома, тому сказали, що Кузя може цілий день займатися тренуваннями. Мама гарно нагодувала Кузю, ще й зробила цілу купу бутербродів, щоб Коник-стрибунець взяв із собою – на перекус.<br>
        -	Кузю, привіт! – ось і Матвій підійшов. – Ти готовий? Ходімо!<br>
        -	Привіт! – Коник потиснув лапку мурасі. – Ти теж із перекусом?<br>
        -	Так, бабуся наполягла, каже, що тим, хто тренується, потрібно гарно їсти, - мурашка Матвій показав повний до верху пакунок, - ось ще й термос із чаєм дала.<br>
        -	О, тоді будемо тренуватися цілий день!<br>
        Хлопчики жваво покрокували до хатки на дереві.<br>
        Їхня хатка-халабуда міцно стояла на широкій гілці верби, яка росла на окраїні галявини. Коник-стрибунець та Мурашка спочатку сіли та обговорили, в яких саме змаганнях вони будуть приймати участь.<br>
        Кузя умів гарно стрибати у висоту та довжину, також – швидко бігав на короткі дистанції. Матвій, не зважаючи на невеликий зріст, був достатньо сильною та витривалою комашкою. Він вирішив спробувати сили у піднятті гирі та перетягуванні канату.<br>
        -	А може ще візьмемо участь у естафеті? – запропонував Кузя.<br>
        -	У мене ноги коротенькі, - засмівся Матвій, - уяви, як я буду чеберяти поряд з тобою.<br>
        -	Ага, згоден з тобою, - Кузя кивнув головою. – А що ж ми ще можемо? Так хочеться виграти головний приз!<br>
        -	А ти вже знаєш, якою буде нагорода? – поцікавився Матвій.<br>
        -	Не знаю, - Кузя знизав плечами. – Тато сказав, що для кожного віку підготували різні подарунки.<br>
        -	А, може, в шахи зіграємо? Пам’ятаю, ти – гарний гравець!<br>
        -	Та й ти заставив мене добре напружитися, коли ми грали на минулому тижні, - погодився Коник-стрибунець. – Гарна ідея – запишемося на шахи! За одно, і перепочинимо між активними фізичними навантаженнями.<br>
        -	Отже, план у нас є, тепер – до діла!<br>
        Тато Коника-стрибунця працював тренером у спортивній школі для комах, тому гарно проконсультував Кузю та Матвія, скільки та які вправи потрібно виконувати, щоб у чудовій фізичній формі бути, і не надто виснажити свій організм.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=PT3k98NmfsU" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=PT3k98NmfsU</a></p>
    <h3>Частина 13. Гра у індіанців</h3>
    <p>Літні дні, зазвичай, світлі та довгі – сонечко гуляє по небу з раннього рання до пізньої ночі. Тому на протязі довгого літнього дня можна зробити величезну кількість справ: і щось корисне, і багато приємного.<br>
        От і сьогодні, у маленькому зеленому будиночку, де жила сім’я Коників-стрибунців, господарі намітили виконати план із багатьох пунктів. Справа в тому, що батьки Кузі, Коника-стрибунця, одночасно пішли у відпустку, тому намірилися за невеликий час відпочинку зробити ремонт у хатці та навести лад на подвір’ї.<br>
        Тато Коник-стрибунець зранку вирушив у магазин будівельних товарів з великим списком всього необхідного для ремонту будиночка. А мама разом з Кузею займалися речами у шафах – потрібно було їх дістати, передивитися, спакувати все, чим давно не користувалися, а інше – на час ремонту перенести на веранду.<br>
        Кузя, коник-стрибунець, був працьовитим хлопчиком, з радістю допомагав мамі. Йому було цікаво передивлятися давно забуті речі, які діставав з верхніх полиць. Справа йшла весело та жваво.<br>
        Після роботи, Кузя разом з мамою смачно пообідали, а потім Коник-стрибунець вийшов у садочок, під розлогу яблуню, виглядати Матвія, свого друга мураху.<br>
        Вчора звечора вони домовилися зустрітися, щоб потренуватися разом – друзі готувалися до олімпіади, яка повинна була проходити через п’ять днів, а потім вони хотіли пограти у індіанців.<br>
        Недавно мурашка Матвій прочитав книгу про життя індіанців у диких преріях. Він із захопленням розказав Кузі, конику-стрибунцю, про стрільбу з лука та чудернацькі головні убори із пір’я. Хлопчики загорілися ідеєю теж зробити лук і стріли і навчитися стріляти з нього, мов справжні індіанці.<br>
        -	Кузю, привіт! – от і Матвій прийшов. Мурашка весело махав лапкою з-за паркану.<br>
        -	Привіт, друже! – обізвався Кузя. – Проходь, присядь на лавку. Що це у тебе? – кивнув на кошика у руках мурахи.<br>
        -	Це яблука, бабуся дала, турбується, що я був не голодним.<br>
        -	О, люблю яблука! – схвально кивнув Кузя.<br>
        -	А я – більше абрикоси полюбляю, - усміхнувся мурашка.<br>
        -	Пропоную зробити пробіжку до Південної галявини – там зробимо розминку і абрикос назбираємо! – запропонував Коник-стрибунець.<br>
        -	Пропозиція прийнята! – Матвій залишив кошик біля будиночку Коника-стрибунця, перевдягнув кросівки.<br>
        Друзі стали на старт та швиденько побігли в сторону абрикосової посадки.<br>
        Хлопчики тренувалися вже не перший день, тому бігли легко та швидко.<br>
        -	Ти – молодець, уже встигаєш за мною, - похвалив Кузя свого друга мурашку, - і дихання легше.<br>
        -	Ага, недарма ми вже скільки тренуємося, - кивнув на бігу Матвій.<br>
        На галявині комахи зробили гарну розминку, потім Кузя тренувався у стрибках в довжину та висоту, а Матвій, який готувався до силових змагань, підіймав важку колоду, що лежала неподалік молодої абрикоси.<br>
        Після тренувань друзі трохи відпочили, назбирали у сумочку абрикос та швидкою ходою повернулися до хатки Коників-стрибунців.<br>
        -	Зараз будемо майструвати, - Кузя приніс гнучкі прямі гілки, міцні нитки та ножик – для виготовлення справжніх індіанських луків та стріл.<br>
        -	А ти знаєш, як правильно їх робити? – поцікавився мураха Матвій.<br>
        -	Бачив на картинці, думаю, нічого складного немає.<br>
        Матвій дістав із кошика свою улюблену книгу про індіанців і ще раз перечитав, як правильно майструвати луки, навіть, картинки із необхідними схемами знайшов:<br>
        -	Ось дивись, - показав Кузі, - ми робимо все, як слід.<br>
        Коли луки та стріли були готовими, виникло ще одне питання:<br>
        -	А як же бути із головним убором, де ми візьмемо пір’я? – Кузя почухав потилицю.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=yxgU9b99JTA" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=yxgU9b99JTA</a></p>
    <h3>Частина 14. Пікнік на галявині кульбабок</h3>
    <p>Літо стояло в розпалі, повітря було спекотним, вода у річці - теплою, а земля - добре прогрітою. Вже цілий тиждень не було дощів, у маленькій зеленій хатці, яка розташовувалася під великим пеньком та слугувала будиночком для сім’ї Коників-стрибунців, було неймовірно жарко. Ще тільки сонечко вийшло на небо, а роса на траві вже повністю висохла.<br>
        Тато та мама Коники-стрибунці були у відпустці, тому на роботу кожного дня не ходили, а займалися домашніми справами. Позавчора вони розпочали ремонт у хатці – клеїли обої у залі, а сьогодні планували фарбувати вікна у гарний салатовий колір.<br>
        Кузя, Коник-стрибунець, активно допомагав батькам. От і сьогодні йому доручили фарбувати валиком підвіконня. Кузя вперше займався такою відповідальною роботою, тому дуже старався.<br>
        Заздалегідь було домовлено, що після фарбування, поки не розійдеться запах фарби, вся сім’я Коників-стрибунців та друг Кузі, мураха Матвій, підуть на пікнік. Неподалік, на березі річки знаходилася Галявина кульбабок, там розташовувалися спеціальні альтанки, де комахи могли розташуватися на відпочинок. Також тут знаходились фонтанчики, росли різні заморські рослини та, навіть, були дитячі майданчики з гойдалками. Тому було прийняте рішення піти на пікнік саме в це казкове місце.<br>
        -	Кузю, привіт! – От і Матвій, мураха, з’явився на порозі, - я вчасно прийшов?<br>
        -	Привіт, друже, - привітався Кузя, - так, ми вже зібралися. Зараз одягну капелюшок.<br>
        Тато і мама Коники-стрибунці взяли кошики із продуктами та покривалами і пішли попереду, а хлопчики із м’ячем та корзинкою фруктів покрокували за ними.<br>
        Шлях був довгим, по дорозі друзі успіли обмінятися новинами. Кузя розповів, як він працював із пензликом та фарбою, а Матвій розказав, як допомагав бабусі-Мурасі варити варення із ягід.<br>
        Матвій приїхав погостювати на літо до бабусі, він був дуже радий, що познайомився із Кузею, тепер друзі весело проводили час разом.<br>
        -	Ось і Галявина казок, - тато Коник-стрибунець показав лапкою.<br>
        -	Ух-ти, як гарно, - Кузя і Матвій пришвидши кроки та аж вибігли наперед, - Як гарно!<br>
        -	Ходімо, он до отієї альтанки, - запропонувала мама, вказавши на плетений із лози навіс.<br>
        -	Чур, я перший, - Матвій, весело розмахуючи корзинкою із фруктами, кинувся бігти.<br>
        -	А я наздожену тебе! – Кузя подався слідом за другом-мурахою.<br>
        На галявині було дуже гарно – скрізь цвіли яскраві кульбабки, де-не-де між квітами вже з’являлися сизі хмаринки з парашутиками.<br>
        Поки тато і мама коник-стрибунці розкладали на стіл їжу по тарілочках та розстеляли по лежакам покривала – щоб загорати було зручно, хлопчики бігали по доріжкам, роздивляючись все навкруги. Гасаючи між квітами, вони раз по раз здмухували парашутики із відцвівших голів кульбабок, загадуючи про себе бажання.<br>
        -	Кузю, Матвію, ходіть-но, поїмо, - гукнула мама Коник-стрибунець. – Вибирайте, що кому смачненького накласти у миску?<br>
        -	О, я такий голодний, - Кузя з апетитом відкусив шматок бутерброда з сиром, шматочком помідора та листям салату. – Мамо, поклади мені трохи вінегрету та ще пару пиріжків з картоплею.<br>
        -	Матвію, не соромся, пригощайся, - тато припрошував до столу мурашку. – Що ти будеш їсти, бери!<br>
        -	Я б хотів котлетку в тісті та огірочок.<br>
        -	А можна ми потім будемо купатися? – запитав, жуючи, Кузя у тата.<br>
        -	Спочатку трохи відпочиньте після обіду, а потім, звичайно, підемо поплаваємо.<br>
        Кузя та Матвій смачно поїли та пішли засмагати на лежаки. Матвій розгадував кросворди, а Кузя читав улюблений журнал про винахідників.<br>
        -	Як гадаєш, ми вже відпочили після обіду? – Коник-стрибунець підморгнув другові-мурахі.<br>
        -	Авжеж! – кивнув Матвій, - я теж думаю, що час купатися!<br><br>
        -	Купатися!!!<br>
        Кузя та Матвій з розмаху забігли у воду та почали весело бризкати один на одного водою. Потім вони ниряли, мов рибки, стрибали, мов жабки, грали, ніби вони пароплави…<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=i7vKm_Hpd5E&t=1s" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=i7vKm_Hpd5E&t=1s</a></p>
    <h3>Частина 15. Фокусники</h3>
    <p>На квітковій галявині примостилася маленька зелена хатка, тут проживає вже знайома нам сім’я Коників-стрибунців – тато, мама та їхній синочок Кузя. Родина Коників-стрибунців вирішила цього літа зробити у хатці невеликий ремонт – нові шпалери у залі вже поклеїли, вікна та двері пофарбували. Батьки були у відпустці, а Кузя їм старанно допомагав.<br>
        Сьогодні зранку на зміну спекотним дням пішов рясний дощ. Краплини весело тарабанили по склу вікна. Кузя прокинувся раненько, бо знав, що на нього чекає багато справ – спочатку він буде допомагати батькам на кухні – мама, вирішила дещо пересунути меблі та змінити розташування полиць, а потім Коник-стрибунець хотів піти із своїм другом-Мурахою до хатки на дереві, яку вони побудували тиждень тому на розлогій гілці старої верби.<br>
        -	Кузю, привіт! – Матвій, мураха, прийшов сьогодні раніше звичайного, бо Кузя попросив його допомогти із полицями. Мураха був, хоч невеликим на зріст, але сильним хлопчиком. Навіть, збирався брати участь в олімпіаді у силових змаганнях.<br>
        -	Матвію, привіт, друже! Заходь! – Кузя відчинив двері та пропустив мурашку до хати.<br>
        -	Ого, ти так змок! Давай парасольку поставлю, щоб просохла!<br>
        -	Тримай, - мураха струсив із себе краплини дощу. – Ох і погодка!<br>
        Разом пройшли до кухні.<br>
        Матвій привітався із мамою коником-стрибунцем і запитав, які полиці потрібно знімати.<br>
        Гуртом справа відбувалася жваво та весело, хлопчики-комахи аж почали підспівувати свою улюблену пісню про піратів.<br>
        -	Зараз на вулиці калюжі такі, що саме час поплавати на нашому човнику, - виглянув Кузя у вікно.<br>
        Коник згадав про човна із листка подорожника, який друзі майстрували після великої зливи, два тижні тому.<br>
        -	Зараз пообідаєте, а потім біжіть гуляйте, - після наведення порядків та перестановки мама запросила Кузю та Матвія до столу, - тільки на ноги узуйте резинові чобітки. Та дощовички накиньте, щоб не змокли.<br>
        Хлопчики витягнули із комори човника, взяли весла та по струмках і калюжах попрямували прямо до хатки на дереві.<br>
        -	Обережно, не зачепися за гілку, - попередив Кузя Матвія.<br>
        -	А тут ось корінь, обпливай зліва, - хлопчики помінялися веслами.<br>
        -	А що то ти взяв у корзинку? – поцікався мурашка, побачивши накритий кошик.<br>
        -	А там різні чарівні штуки сховані – пам’ятаєш, вчора говорив про фокуси.<br>
        -	Ага, будемо фокусниками? – захоплено перепитав Матвій. Коник-стрибунець ствердно кивнув головою.<br>
        У хатці на дереві було сухо та затишно. Друзі усілися за стіл та почали читати книгу, як робити різні фокуси.<br>
        У корзинці, яку привіз Кузя, було чимало цікавих та потрібних предметів. Саме їх хлопчики і вирішили використати для хитрих та спритних дій, які допоможуть стати справжніми фокусниками. Тут були і повітряні кульки, і довгі кольорові стрічки і, навіть, чорний циліндр з подвійним дном.<br>
        -	Ух ти, як цікаво! І так просто! – Не втерпів та вигукнув Матвій. – Тепер усі секрети знаємо!<br>
        -	І нікому не скажемо! – усміхнувся Кузя.<br>
        -	Нумо, зробимо цілу чарівну виставу для друзів!<br>
        -	Авжеж, запросимо бджілок та метеликів, думаю, вони будуть дуже здивовані!<br>
        -	Але потрібно ще подумати про вбрання, - задумався мурашка Матвій.<br>
        -	Попрошу маму, вона допоможе, - запропонував Кузя.<br>
        Друзі у піднесеному настрої почали тренуватися показувати фокуси.<br>
        Наступного дня підвечір, Кузя, коник- стрибунець та його друг Мурашка Матвій влаштували на галявині біля розлогої верби справжній театр під відкритим небом.<br>
        Добре, що сьогодні дощу не було, а сонечко встигло все просушити. Замість лавок, хлопчики розмістили півколом пеньочки, на які повсідалися запрошені гості.<br>
        -	Зустрічайте, - урочисто проголосила бджілка Міла, - відомих талановитих фокусників Кузьму та Матвія!<br>
        Бджілки та метелики дзвінко заплескали у долоні. Кузя, Коник-стрибунець, та мурашка Матвій, вбрані у костюми чарівників, вийшли у центр галявини і почали показувати фокуси. Спочатку вони продемонстрували кольорові олівці, які прилипали до руки та не падали, потім діставали із кишень монетки та довгі стрічки, після чого ховали у потайні кишені картки із малюнками. А вкінці показали фокуси із надувними кульками, які не лопалися, навіть, після пронизування їх спицями.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=D0u-mDGJrFo&t=30s" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=D0u-mDGJrFo&t=30s</a></p>
    <h3>Частина 16. Олімпіада</h3>
    <p>Літні дні довгі, час іде повільно – так, ніби природа хоче, щоб ми встигли насолодитися прекрасною порою. А у маленькій зеленій хатинці життя продовжує рухатися вперед. Поки тато та мама Коники-стрибунці продовжують займатися ремонтом – залишилося ще оновити інтер’єр на веранді, Кузя, Коник-стрибунець та його друг, мурашка Матвій готуються до великого спортивного змагання під назвою Комашина олімпіада.<br>
        І ось нарешті – велика подія відбудеться вже завтра! Вдень Кузя та Матвій знову влаштували серйозне тренування, ще й збігали на річку – зробили гарний заплив. Друзі були впевнені у своїх силах та готові до будь-яких випробувань.<br>
        І ось цей день прийшов!<br>
        -	Кузю, привіт! – Матвій прийшов з самого рання, щоб разом встигнути прийти на Велику галявину, де і повинна була розпочатися рівно о восьмій Комашина олімпіада.<br>
        -	Привіт, друже, - Коник-стрибунець у новому спортивному костюмі вийшов на поріг.<br>
        -	О, в тебе такий картузик гарний!<br>
        -	А в тебе нові кросівки? Зручні?<br>
        -	Так, бабуся спеціально на змагання подарувала, - похвалився мурашка.<br>
        -	Ходімо?<br>
        -	Зачекай, ще води візьмемо, бо така спека!<br>
        Друзі весело покрокували на Велику галявину. По дорозі вони підбадьорювали один одного та давали останні настанови. Тато і мама Коники-стрибунці та родичі мурахи повинні були підійти трохи пізніше, коли дороблять домашні справи.<br>
        На Великій галявині було вже все готове до проведення Комашиної олімпіади. Влаштовані спеціальні майданчики для проведення змагань з різних видів спорту, зроблені навіси від сонця для вболівальників, також організовано намет для поважного журі.<br>
        Кузя та Матвій зареєструвалися для участі у змаганнях та пішли на майданчик, щоб підготуватися – зробити розминку.<br>
        Тут уже було багато комах – і жучки, і павучки, і метелики. Чимало комах різного віку вирішили продемонструвати власні сили у різних видах спорту.<br>
        Та й місця для глядачів заповнювалися з кожною хвилиною. Хвилювання наростало. Коник-стрибунець та мурашка були добре підготовані – вони тренувалися на протязі довгого часу, були впевнені у власних силах.<br>
        -	Як ти, друже, - спитав Кузя.<br>
        -	Якщо чесно, трохи хвилююся, - признався Матвій.<br>
        -	Все добре, - підтримав Коник-стрибунець, - знаю, що ти – молодець! Вірю, що зможеш добитися успіху!<br>
        По запланованому графіку в першій половині дня повинна бути легка атлетика.<br>
        Кузя направився до учасників, а Матвій та батьки Коника-стрибунця, які тільки-но підійшли, сіли на лавку під навіс. Вони, затамувавши подих, разом із іншими вболівальниками дивилися на початок змагань.<br>
        -	Дивіться, ось черга Кузі підійшла стрибати! – Матвій був переповнений емоціями так, що не міг всидіти на місці.<br>
        -	Так! Кузю, ми з тобою! – мама Коника-стрибунця теж дуже хвилювалася.<br>
        Кузя підійшов до лінії старту, дочекався сигналу, розбігся – і… Один, два, три! – здійснив три довжелезні стрибки, приземлившись далеко від визначеної лінії...<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=H9sZF03-EiM&t=3s" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=H9sZF03-EiM&t=3s</a></p>
    <h3>Частина 17. Збори у табір</h3>
    <p>Яка чудова літня пора – дні стояли теплі та довгі. Якраз саме час займатися цікавими та корисними справами. От і сьогодні вранці, як тільки сонечко ласкаво освітило землю першими промінчиками, у маленькому зеленому будиночку, де проживала сім’я Коників-Стрибунців уже всі прокинулися зі сну.<br>
        Тато і мама Коники-стрибунці планували сьогодні нарешті закінчити ремонт – залишилося пофарбувати підлогу на веранді. Кузя, наш знайомий Коник-стрибунець, збирався допомагати батькам, а потім мав дуже важливі справи.<br>
        Справа в тому, що вчора на Великій Галявині відбувалося велике дійство – Комашина олімпіада, де друзі взяли участь у змаганнях та завоювали почесні місця. Кузя, Коник-стрибунець став першим у стрибках в довжину, а Матвій підняв штангу аж 63 грами і теж був нагороджений золотою медаллю. Також хлопчики брали участь у турнірі по шахам, де розділили почесне третє місце.<br>
        Нагородою для всіх комах, які стали переможцями, була поїздка до Літнього табору.<br>
        Тому Кузя, Коник-стрибунець разом із своїм Матвієм вирішили написати список потрібних у таборі речей та по-тихеньку почати збиратися.<br>
        -	Кузю, винесе, будь ласка, з веранди крісла, та допоможи татові підготувати фарбу, - попрохала після сніданку мама.<br>
        Коник-стрибунець швиденько звільнив веранду від зайвих речей та підготував щітку для фарбування.<br>
        Кузя із задоволенням допомагав батькам – йому подобалося оновлювати інтер’єр – робити красу.<br>
        -	Кузю, привіт! – От і Матвій з’явився якраз, коли тато та Кузя дофарбовували поріг.<br>
        -	Біжи до свого друга, - сказав тато, - я вже сам тут вправлюсь.<br><br>

        Кузя та Матвій вирішили піти до свого будиночка на дереві, що розташовувався на гілках розлогої груші.<br>
        В будиночку було затишно та комфортно. Хлопчики полюбляли тут бувати та складати різні плани, бо саме тут найкраще з’являлися нові цікаві ідеї.<br>
        -	Сідай-но ближче, - Матвій підсунувся до Кузі.<br>
        -	Давай подумаємо, що нам треба обов’язково взяти до табору?<br>
        -	О, мені вже не терпиться поїхати! – мрійливо сказав мурашка. – Думаю, там буде надзвичайно цікаво та весело.<br>
        -	Ага, - погодився Коник-стрибунець, - думаю, нас чекає чимало пригод...
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=GxTFlmacUcQ" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=GxTFlmacUcQ</a></p>

    <h3>Частина 18. Пригоди у таборі</h3>
    <p>Літо – чудова пора, дні такі довгі, що можна встигнути і попрацювати, і відпочити досхочу. Природа буяє – кругом зелено, квіти цвітуть різнобарв’ям кольорів, достиглі плоди радують, а сонечко ласкаво обіймає промінцями.<br>
        У маленькій зеленій хатинці, де проживає сім’я Коників-стрибунців, цього дня з самого ранку дуже гамірно. І тато, і мама Коники-стрибунці допомагають Кузі зібрати найнеобхідніші для відпочинку у літньому таборі речі.<br>
        Справа в тому, що тиждень тому Кузя, Коник-стрибунець та його друг, мурашка Матвій, зайняли призові місця на спортивних змаганнях під час Комашиної олімпіади. І усім учасникам-переможцям подарували можливість відпочити у літньому таборі для комах та маленьких звіряток.<br>
        Кузя та Матвій заздалегідь написали список речей, які знадобляться їм у таборі, і по-тихеньку почали збиратися. Але виявилося, особливо, на думку мами, що Кузі необхідно ще чимало всього.<br>
        І ось – останні збори завершено, Кузя, Коник-стрибунець із рюкзаком за спиною, пакунками із перекусом та вудкою у руках вже стоїть повністю підготовлений до пригод. Тато та мама Коники-стрибунці вийшли разом з ним за ворота чекати автобус, що буде здійснювати перевезення до табору. Вони давали останні настанови синові, хвилюючись, як же він там буде вперше в житті без рідних на такий довгий час – планувалося, що у таборі Кузя та його друзі будуть сім днів.<br>
        З вікна під’їжджаючого автобуса виглянув Матвій, мурашка, і весело помахав рукою, вітаючись із другом та його батьками:<br>
        -	Кузю, привіт! Заходь швиденько, я тобі місце біля себе зайняв. – покликав мураха. – А речі можна покласти у багажне відділення.<br>
        Кузя поклав наплічник у багаж, і сам радісно вмостився біля мурашки.<br>
        Друзі були в передчутті чогось цікавого, тому, хоч і відчували легкий неспокій, та настрій мали прекрасний.<br>
        -	Я ніколи не їздив в автобусі, - признався Кузя.<br>
        -	Правда? – Матвій уже був досвідченим мандрівником. Адже він приїхав до бабусі на літо здалеку на великому автобусі. – Подорожі – це класно! Ось побачиш.<br>
        -	Ага, - погодився Коник-стрибунець. – Мені уже подобається.<br>

        Автобус ще декілька разів спинявся, щоб забрати інших комах, які теж зібралися до літнього табору. А потім виїхали за поселення та під веселу мелодію рухалися по лісовим масивам. Друзі зручно вмостилися на сидіннях і почали дивитися у віконце на пропливаючі мимо краєвиди.<br>

        Кузя, Коник-стрибунець та Матвій-мурашка трохи задрімали, заколихані тихим шумом двигуна, а потім – після невеликої зупинки – почали розглядати інших пасажирів.<br>
        -	Дивись, - показав лапкою праворуч Кузя, - це комарик Марк. Ми грали з ним у шахи у півфіналі.<br>
        -	Той, що на другому місці вмостився? - перепитав Матвій. – Розумний, мабуть, дуже – зайняти друге місце по шахам – це здорово!<br>
        -	А де дівчинка, що з тобою грала? – озирнувся Коник-стрибунець, роздивляючись пасажирів.<br>
        -	Он там, ззаду, - відповів Матвій. – Ми з нею вже подружилися. Домовилися ще раз зіграти партію у таборі, а також вона сказала, що любить грати у «Вибивача». Треба буде організувати гру, добре?<br>
        -	Так, знаю багато ігор у м’яч. Буде цікаво познайомитися із з іншими, - Коник-стрибунець обдивився пасажирів у автобусі.<br>
        Тут сиділи і жучки, і метелики, і павучки, і равлики, і гусенички… Відпочинок у таборі обіцяв бути цікавим та різноманітним.<br>

        Нарешті приїхали на простору галявину на березі річки. Усі почали вигружатися з автобуса та діставати речі. Підійшли організатори табору відпочинку, які перш за все пояснили комахи їх подальші дії:<br>
        -	Спочатку пообідаємо – уже все готово, а потім будемо робити наметове містечко.<br>
        Їдальня була організована під великим тентом – стояли дерев’яні столи та лавки навколо них. Накриття було зроблено так, що на випадок дощу, можна було не боятися, що краплини попадатимуть у тарілки.<br>
        Дітвора швиденько повсідалися за стіл та почали наминати смачний борщ та пампушки з салатом.<br>
        Розставляти намети виявилося хоч і непросто ( бо дехто займався цим вперше в житті), та кумедно та весело.<br>
        Коник-стрибунець та його друг Матвій поселилися між наметами, де жили павучки – праворуч та мушки – ліворуч. Кузя спеціально тренувався, як правильно розкладати намет, тому із виглядом досвідченого туриста пояснював мурасі та мушкам, як правильно натягувати мотузки та вкручувати в землю гачки для кріплення.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=BW_BR3KN9kw" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=BW_BR3KN9kw</a></p>
    <h3>Частина 19. День сюрпризів</h3>
    <p>Літо продовжується – довгі літні дні дають можливість насолодитися прекрасною порою, коли водночас можна встигнути зробити і безліч справ, і відпочити під ласкавими сонячними промінчиками.<br>
        Сім’я Коників-стрибунців, що проживала у маленькій зеленій хатинці на квітковій галявині, за час відпустки тата і мами встигла виконати усе заплановане. Кузя, Коник-стрибунець, із задоволенням допомагав батькам робити ремонт у будиночку та наводити порядки на подвір’ї. Сьогодні вранці потрібно було трохи попрацювати на городі – залишилося ще три грядки буряків прорвати та бур’ян попід тином вирвати.<br>
        Кузя, одягнувши капелюха, щоб сонечко голову не напекло, швиденько просапував рядочки. Аж ось від воріт почувся знайомий голос – це мурашка Матвій прийшов:<br>
        -	Кузю, привіт! Де ти?<br>
        -	Тут я, - гукнув з городу Коник-стрибунець, - ходи сюди!<br>
        -	О, допоможу тобі, - мураха побіг до мами Коника-стрибунця взяти ще одну сапу. – Разом швидше впораємся.<br>
        -	Ставай-но ось на цей рядок!<br>
        Хлопчики жвавенько розібралися із бур’яном, підгорнули картоплю та прорвали буряки.<br>
        Мама Коник-стрибунець покликала друзів пообідати, запропонувавши гарячі пиріжки та холодну сметанку.<br>
        -	О, я люблю пиріжки з вишнями, - Матвій із задоволенням відкусив великий шмат пиріжка.<br>
        -	Я – теж, - після роботи на свіжому повітрі апетит у Кузі був відмінний. – А ще – із яблуками та з абрикосами.<br>
        -	Їжте-їжте, - припрошувала мама Коник-стрибунець.<br>
        -	Мамо, можна ми потім підемо до нашого будиночка на дереві? Бо нам терміново потрібно обговорити одну важливу справу.<br>
        -	Звичайно, візьміть на перекус пиріжки з собою, - мама Коник-стрибунець подала пакунок. – Будьте обережними!<br>
        Будиночок на дереві, який хлопчики змайстрували спеціально для своїх розваг, розташовувався на гіллі розлогої груші. Тут було чисто та затишно, особливо, в період дощів.<br>
        Кузя, Коник-стрибунець, недавно прочитав у Книзі порад про одне цікаве свято під назвою День сюрпризів. Він розповів про це другові мурасі-Матвію, і разом вони вирішили написати план проведення.<br>
        Вирішили запросити своїх нових друзів-комах, з якими познайомилися під час перебування у таборі відпочинку – сестричок-мушок Мійю та Майю, жучка Сонечка, комарика Марка, бджілку Мілу та її подружок.<br>
        Спочатку Кузя, коник-стрибунець, та мурашка-Матвій підготували для всіх гарно оздоблені запрошення, де вказали час, місце проведення та коротко описали перебіг свята. Зміст Дня сюрпризів полягав у тому, що кожен із запрошених повинен був підготувати якийсь конкурс, номер та подарунок-сюрприз для одного із запрошених.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=VPNlrk3Iovg&t=43s" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=VPNlrk3Iovg&t=43s</a></p>
    <h3>Частина 20. Гойдалка, гітара та збори на море</h3>
    <p>Сьогоднішній літній день був, як завжди, теплим та сонячним. Грайливі сонячні промінчики весело стрибали по даху маленької зеленої хатинки, яка розташовувалася посеред одної із лісових галявин. Тут проживала сім’я Коників-стрибунців – тато, мама та їх синочок Кузя.<br>
        Кузя дуже любить літо, особливе це, бо недавно він подружився із мурашкою Матвієм, який приїхав у цей край погостювати до бабусі. Кузя, Коник-стрибунець та мурашка Матвій гарно та весело проводили довгі літні дні. Щоразу вони вигадували різні цікаві справи. А недавно, після того як вони виграли призові місця на комашиній олімпіаді та були нагороджені поїздкою у Табір відпочинку, Кузя та Матвій подружилися з багатьма комахами – комариком, мушками, жуком-сонечком та іншими.<br>
        Але вчора Матвій повідомив про приїзд батьків та плани поїхати на море. Щоб Кузя не сумував, мурашка попросив своїх тата та маму Мурашок взяти Коника-стрибунця із собою. Це була чудова ідея – хлопчики уже уявляли, скільки цікавих неймовірних пригод буде чекати на них під час поїздки.<br>
        Але до подорожі на море залишалося ще декілька днів, тому друзі домовилися заздалегідь зустрітися біля свого будиночку на дереві та вигадати щось нове та цікаве.<br>
        -	Кузю, привіт! – Матвій підійшов до воріт та покликав свого друга.<br>
        Коник-стрибунець виглянув із вікна:<br>
        -	Матвію, заходь до хати, - запросив, - зараз, я вже майже зібрався.<br>
        -	А що це підготував? – поцікавився Матвій, коли побачив оберемок дошок, які зв’язував до купи Кузя.<br>
        -	Це – гойдалка. Дядько Жук-Рогач приніс вчора – він змайстрував таку ж своїм діткам та причепив її на гілках бузини. Жук-Рогач має хобі – він дуже любить майструвати. Так як його дітворі дуже сподобалося гойдатися, то дядько Жук зробив ще декілька гойдалок для сусідських дітей, - пояснив Кузя-стрибунець.<br>
        -	Ух ти, - зрадів Матвій. – Ми будемо чіпляти гойдалку? Клас!<br>
        -	Так, треба знайти гарне місце для кріплення. Ходімо?<br>
        Коник-стрибунець та мурашка зібралися виходити, коли виглянула мама Коник-стрибунець:<br>
        -	Кузю, не забудь гітару!<br>
        -	Ой, справді, - повернувся Кузя, - я й забув.<br>
        Коник-стрибунець швиденько збігав до себе у кімнату та взяв гітару.<br>
        -	О, у тебе є гітара! – Матвій не переставав дивуватися. – Скільки всього нового за один день.<br>
        -	Ага, - радісно кивнув Кузя. – Будемо гойдатися та розучувати нові мелодії. Відчуваю, сьогодні буде цікавий день!<br>
        Друзі весело попрямували до свого будиночка на дереві, який розташовувався на розлогій вербі, що росла неподалік галявини.<br>
    </p>
    <p>Дізнатися продовження казки можна, перейшовши за посиланням:</p>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=9POtVDdCB0A" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=9POtVDdCB0A</a></p>


    <h3>Дивитися усі серії відразу:</h3>
    <p><a class="nav-link" href="https://www.youtube.com/watch?v=ITQdumbRxsE&t=1217s" style="color: #5c00e6;">
        https://www.youtube.com/watch?v=ITQdumbRxsE&t=1217s</a></p>
</div>
<footer th:insert="sections/footer::footer"></footer>

</body>
</html>
