<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Tales_about_kittens</title>
    <style>
        body {
            background-color: #e0ffe0;
            color: #00cc7a;
        }
        .about {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .col, .col2, .col3{
            border-radius: 10%;
            border: #00cc7a 1px solid;
            margin: 10px;
        }
        .col2{
            padding-top: 10%;
        }
        .col2, .col3{
            padding-left: 2%;
            padding-right: 2%;
        }
        img {
            width: 100%;
            height: 100%;
            padding: 5%;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
<header th:insert="sections/header_tales::header_tales"></header>
<div class="container">
    <h2>Казки про кошенят</h2>
    <div class="about">
        <div class="col">
            <img src="/images/cat4.jpg">
        </div>
        <div class="col">
            <img src="/images/cat2.jpg">
        </div>
        <div class="col">
            <img src="/images/cat3.jpg">
        </div>
        <div class="col">
            <img src="/images/cat1.jpg">
        </div>
    </div>
    <div class="about">
        <div class="col">
            <img src="/images/cat5.png">
        </div>
        <div class="col2">
            <h4>Казки та оповідки про котика і кицю</h4>
            <p>Частини 1-8</p>
            <p>Дивитися на Ютуб-каналі:</p>
            <p><a class="nav-link" href="https://www.youtube.com/watch?v=pelbKsewe54" style="color: #5c00e6;">www.youtube.com/watch?v=pelbKsewe54</a></p>
        </div>
    </div>
        <div>
            <p>Казки та оповідки про котика і кицю<br>
                Автор: Ольга Кобильська<br><br>
                Частина 1. Знайомство<br>
                В одному чарівному котячому царстві жили-були котики
                та кішечки. Часто у них траплялися цікаві пригоди та історії.
                Давайте познайомимося з ними та дізнаємося, як проходить
                котяче життя.<br>

                Кошенята щиро усміхнулися один одному та почали розмову.<br>
                – Привіт! Мене звати Мурчик! – представився котик. – Я люблю
                грати в м’яч та брати участь у спортивних змаганнях. Живу в
                гарних господарів. Мене часто балують м’ясцем і смачненькими
                млинцями.<br>
                – Привіт! А я – киця Фіна. Це скорочено від Жозефіни, –
                помахала лапкою кішечка. – Моїм господарям подобається
                усе французьке, тому вони вибрали таке гарне ім’я. Я люблю
                малювати  та читати книжечки. А колись давно у мене було
                важке дитинство: пам’ятаю, що не було домівки. Маленькою
                ходила по вулиці – було холодно та дуже хотілося їсти. Потім
                мене взяли до себе добрі люди, і все наладилося.<br>

                Казки та оповідки про котика і кицю<br>
                Частина 2. Почалася зима<br>
                В тому самому чарівному котячому царстві, де ми познайомилися
                з котиком та кицею, прийшла зима. Білі сніжинки запорошили землю,
                вкрили білим покривалом дерева та землю. На вулиці почало
                холоднішати.<br>
                Котик Мурчик та кішечка Фіна дуже здивувалися, коли вперше
                побачили білі пушинки, які летіли з неба. Вони були ще маленькі
                і не знали, що таке сніг та морози.<br>
                –	Яка краса, – задивилася Фіна на небо.<br>
                –	Такі чудові білі метелики кругом літають, – підстрибував
                Мурчик. – Нумо, давай-но їх ловити!<br>
                –	Але так холодно у лапки! – кішечка переступила з лапки на лапку.<br>
                –	Коли виходиш взимку на вулицю, потрібно добре одягатися, –
                сказав котик.<br>

                Казки та оповідки про котика і кицю<br>
                Частина 3. Зимовий ранок<br>
                Зранку в чарівному котячому королівстві було морозяно
                та ясно. Хоч сонечко світило привітно, посилаючи на землю
                сонячних зайчиків, проте голова та лапки мерзли.<br>
                Кішечка Фіна дістала рукавички та показала котику:<br>
                – Дивися, що у мене є – це рукавички. Їх спеціально одягають
                на передні лапки, щоб було тепленько.<br>
                – Ух-ти! Які гарні! М’якенькі та тепленькі, – котик доторкнувся
                до в’язаних із пухнастих ниток рукавичок. – Ти в рукавичках –
                як принцеса!<br>
                – Тобі справді подобаються? – зашарілась від задоволення киця. –
                А ще господарі подарували мені шапку – вони турбуються про мене.
                Ось, таку – з великим помпоном-баламбоном!<br>

                Казки та оповідки про котика і кицю<br>
                Частина 4. Зимова прогулянка<br>
                По полудню котики знову вийшли на прогулянку на вулицю.
                Вони бравенько пообідали,  виспалися досхочу та вирішили трохи
                подихати свіжим повітрям.<br>
                – Привіт, Фіна! Радий тебе бачити! – Мурчик дійсно був радий
                бачити свою маленьку подружку. – Як справи?<br>
                – Чудово! Все не звикну до снігу, – киця обережно ступала по сніжку.
                Вона ще не звикла, що сніг – м’який, як вата.<br>
                – Хочеш, зліпимо сніговика? – запропонував котик. – Чи на санчатах
                покатаємося?<br>
                – Із задоволенням, але мої лапки провалюються у сніг – мені
                незручно, – забідкалася киця. – Як же бути?<br>
                – Зараз принесу лопату для відкидання снігу, – придумав Мурчик. –
                Будемо робити доріжку, щоб усім було гарно ходити.<br>

                Казки та оповідки про котика і кицю<br>
                Частина 5. Цікава книжечка<br>
                Фіна була розумною та допитливою кішечкою. У неї було
                багато книг – казки про тварин, кулінарні поради та різні
                енциклопедії. Коли господарі хотіли порадувати кицю, вони
                знали, що найкращим подарунком буде нова цікава книжечка.
                Під час прогулянки по засніженим вуличкам кішечка із захопленням
                розповідала своєму другові Мурчику про нову книжку:<br>
                – Ти уявляєш, які там гарні малюнки! – киця розповідала про яскраві
                ілюстрації.<br>
                – Рибки, справді, зображені, мов живі? – дивувався котик.<br>
                – Так, все таке гарне! – ствердно кивнула головою Фіна. – Ще прочитала
                нову казочку – про двох мишенят…<br>
                – Розкажи, будь ласка, мені цікаво!<br>
                Киця з радістю почала переказувати Мурчику казкову історію, яку вона
                прочитала в новій книжці.<br>

                Казки та оповідки про котика і кицю<br>
                Частина 6. Прогулянка до криниці<br>
                В тому самому чарівному котячому царстві, де проживали
                наші знайомі кошенята, був звичайний сонячний зимовий день.
                Зранку пройшов сніг.<br>
                Мурчик раненько прокинувся і вже встиг зробити доріжки.
                Тому, коли киця Фіна вийшла на вулицю, вона змогла швиденько
                підбігти до котика.<br>
                – Привіт! Який гарний день! – котик помахав лапкою.<br>
                – Привіт! Який ти молодець – повідгортав сніг!<br>
                – Чекав, що ти маєш прийти. Хотів зробити приємне.<br>
                – Дякую! По доріжці мої лапки, дійсно, ходять швидше та веселіше.<br>
                – Куди ми підемо гуляти? – запитав Мурчик у Фіни.<br>
                – Спершу потрібно сходити до криниці. Моя господиня дала
                відеречко – треба сходити принести водички в хату.<br>
                – Хочеш, допоможу тобі?<br>
                – Звичайно! – киця передала котику відерце.<br>

                Казки та оповідки про котика і кицю<br>
                Частина 7. На санчатах<br>
                В чарівному котячому царстві швидко проходили короткі
                зимові дні. Пагорби навколо будиночків, де жили наші знайомі
                кішечка та котик, були вкриті сніговими заметами. Господарі
                подарували Мурчику санчата, щоб він міг з легкістю долати
                снігові замети.<br>
                Цього дня котик з нетерпінням чекав, коли на вулицю вийде
                Фіна. Він виніс санчата – хотів спробувати на них кататися з гірки,
                яка була поряд з їхніми хатками.<br>
                – Привіт! – Ось і киця. – Довго чекаєш?<br>
                – Недовго. Дивися, що у мене є, – Мурчик показав саночки.
                – Ходімо кататися!<br>
                – Ух ти! Я такі бачила по телевізору! – киця доторкнулася до санчат.
                – Ходімо!<br>
                Котики весело побігли на гірку, тягнучи за собою санчата.<br>

                Казки та оповідки про котика і кицю<br>
                Частина 8. Обід для котика<br>
                В чарівному котячому царстві був звичайний зимовий день.
                Зранку наші знайомі кошенята – Мурчик та Фіна – встигли весело
                провести час на вулиці.<br>
                Спочатку вони ліпили сніговиків. Киця принесла три морквинки,
                щоб робити сніговикам яскраві довгі носики. Котикам вдалося зліпити
                цілу сім’ю сніговиків!<br>
                Потім грали у сніжки та каталися на санчатах.
                Час пройшов весело та швидко. Прийшов час обіду – потрібно було
                повертатися додому.<br>

                – Ой, я так хочу їсти, – зізнався Мурчик.<br>
                – Я – теж, – підтримала розмову киця.<br>
                – А що ти любиш їсти?<br>
                – Найбільше мені подобаються котлетки та млинці, – замріялася Фіна,
                уявляючи заставлений тарілками стіл.<br>
                – В мене улюблені страви – це ковбаска та смажена картопелька, – аж
                облизнувся Мурчик.<br>
                – Ходімо хутчіш!<br>
                Котики взялися за лапки та швиденько побігли додому їсти.
            </p>
        </div>

    <div class="about">
        <div class="col">
            <img src="/images/cat6.png">
        </div>
        <div class="col2">
            <h4>Казки та оповідки про котика і кицю</h4>
            <p>Частини 9-15</p>
            <p>Дивитися на Ютуб-каналі:</p>
            <p><a class="nav-link" href="https://www.youtube.com/watch?v=hHM4l40cQ9k&t=16s" style="color: #5c00e6;">www.youtube.com/watch?v=hHM4l40cQ9k&t=16s</a></p>
        </div>
    </div>

    <div class="about">
        <div class="col">
            <img src="/images/cat7.jpg">
        </div>
        <div class="col3">
            <h4>Котик Васька</h4>
            <p>Віршик-казочка<br>Дивитися на Ютуб-каналі:<br>
                <a class="nav-link" href="https://www.youtube.com/watch?v=YpUHE3TqDMQ" style="color: #5c00e6;">www.youtube.com/watch?v=YpUHE3TqDMQ</a>
                Жив на світ котик Васька – милий та розумний кіт.<br>
                Був цей кіт такий кмітливий, що не бачив  досі світ.<br>
                Він любив пограти в шахи, швидко ставив шах і мат.<br>
                В чобітки взувався й в тапки – щоб не поморозить лап.<br>
                Шарф в негоду не забуде, парасольку – коли дощ.<br>
                Вміє готувати кашу, пампушки, котлети, борщ.<br>
                На городі і у хаті – скрізь порядок та краса.<br>
                Прокидався Васька рано, поки не зійшла роса.<br>
                Вранці бігає й стрибає, спорт – улюблене заняття,<br>
                Вміє котик вишивати, і пошити зможе плаття.<br>
                Любить малювать картини – в нього вдома повно фарб…<br>
                Ой і Васька, ой, і милий! Це не котик – справжній скарб!<br>
            </p>
        </div>
    </div>


</div>
<footer th:insert="sections/footer::footer"></footer>

</body>
</html>
