<!--<nav th:fragment="header_poems" class="container navbar navbar-expand-lg bg-body-tertiary" style="background-color: #4dffb8;">-->
    <nav th:fragment="header_poems" class="navbar navbar-expand-lg navbar-light" style="background-color: #4dffb8;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">На головну</a>
                    </li>

                <li class="nav-item" >
                    <a class="nav-link" href="/poems_about_animals">Вірші про тварин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/poems_about_nature">Вірші про явища природи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/poems_about_spring">Весняні вірші</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/poems_about_summer">Літні вірші</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/poems_about_autumn">Вірші про осінь</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/poems_about_winter">Зимові вірші</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/poems_about_dragons">Про драконів</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="/poems_counters">Лічилки</a>
                </li>
              </ul>

        </div>
    </div>
</nav>