<!--<nav th:fragment="header_tales" class="container navbar navbar-expand-lg bg-body-tertiary" style="background-color: #4dffb8;">-->
    <nav th:fragment="header_tales" class="navbar navbar-expand-lg navbar-light" style="background-color: #4dffb8;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">На головну</a>
                    </li>

                <li class="nav-item" >
                    <a class="nav-link" href="/tales_about_kittens">Казки про кошенят</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/counters">Рахувати можна все!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tales_about_hedgehog">Казочки про їжачка Стьопу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tales_about_grasshopper">Пригоди Кузі-стрибунця</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tales_about_hamster">Казки про хом'ячка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tales_about_duckling">Казки про Каченя</a>
                </li>
            </ul>
        </div>
    </div>
</nav>